@{
    ViewData["Title"] = "Clients";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Clients</title>
</head>
<body>
    <h1>Create Clients</h1>
    <form id="createClientsForm">
        <label for="batch">Batch:</label>
        <input type="text" id="batch" name="Batch"><br><br>

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="FirstName"><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="LastName"><br><br>

        <label for="birthDate">Birth Date:</label>
        <input type="date" id="birthDate" name="BirthDate"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="Email"><br><br>

        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="MobileNumber"><br><br>

        <label for="active">Active:</label>
        <input type="checkbox" id="active" name="Active"><br><br>

        <button type="button" onclick="ClientsStudent()">Create Student</button>
    </form>

    <script>
        async function ClientsStudent() {
            const form = document.getElementById("createClientsForm");
            const formData = new FormData(form);

            const newClients = {};
            formData.forEach((value, key) => {
                newClients[key] = value;
            });

            try {
                const response = await fetch("https://localhost:44302/api/Clients", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(newClients)
                });

                if (response.ok) {
                    console.log("Clients created successfully");
                    window.location.href = "/";
                    // Aquí podrías redirigir a otra página o hacer cualquier otra acción necesaria
                } else {
                    console.error("Failed to create Clients");
                }
            } catch (error) {
                console.error("Error:", error);
            }
        }
    </script>
</body>
</html>
