@{
    ViewData["Title"] = "Clients";
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Create">crear</a>
<table id="clients" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Batch</th>
            <th>Full Name</th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    window.addEventListener("DOMContentLoaded", async (event) => { 
        const clients = await fetch("https://localhost:44302/api/clients", {
            "method": "GET",
            "mode": "cors",
            "cache": "no-cache",
            "headers": {
                "Content-Type": "application/json"
            }
        })
            .then((response) => response.json())
            .catch((error) => { console.log(error); });

        if (clients) {
            const tbody = document.querySelector("#clients tbody");
            for (let index = 0; index < clients.length; index++) { 
                const client = clients[index];
                const row = document.createElement("tr");
                
                let cell = document.createElement("td");
                cell.innerText = client.batch;
                row.appendChild(cell);

                cell = document.createElement("td");
                cell.innerText = `${client.firstName} ${client.lastName}`;
                row.appendChild(cell);

                cell = document.createElement("td");
                    cell.innerHTML = `<button onclick="deleteInstructors(${client.id})">Delete</button>`;
                    cell.innerHTML += `<button onclick="editStudent(${client.id})">Editar</button>`;
                row.appendChild(cell);

                tbody.appendChild(row);
            }        
        }
    });



        async function deleteClients(id) {
            try {
                const response = await fetch(`https://localhost:44302/api/Clients?id=${id}`, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    }
                });

                if (response.ok) {
                    console.log("Clients deleted successfully");
                    location.reload();
                } else {
                    console.error("Failed to delete Clients");
                }
            } catch (error) {
                console.error("Error:", error);
            }
        }
</script>