@{
    ViewData["Title"] = "Acercadenosotros";
}
<section></section>
<br />
<br />


<section class="aboutus-section">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg p-0">
                <div class="about-text">
                    <div class="section-title">
                        <span>Acerca de Nosotros</span>
                        <h2>Lo que hemos logrado</h2>
                    </div>
                    <div class="at-desc">
                        <p>
                        <p>
                            ¡Bienvenido a nuestro gimnasio! En nuestro centro, nos comprometemos a brindarte la mejor experiencia en fitness y bienestar. 
                            Nuestra misión es ayudarte a alcanzar tus objetivos de salud y acondicionamiento físico de manera divertida y efectiva. 
                            Contamos con equipos modernos y entrenadores profesionales que te guiarán en cada paso del camino. 
                            Ya sea que estés buscando aumentar tu fuerza, mejorar tu resistencia cardiovascular o simplemente mantenerte activo, estamos aquí para ayudarte a alcanzar tus metas. 
                            ¡Únete a nuestra comunidad hoy mismo y comienza tu viaje hacia una vida más saludable!
                        </p>

                        </p>
                    </div>
                    <div class="about-bar">
                        <div class="ab-item">
                            <p>Entrenamiento de Fuerza</p>
                            <div id="bar1" class="barfiller">
                                <span class="fill" data-percentage="80"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item">
                            <p>Entrenamiento de intensidad</p>
                            <div id="bar2" class="barfiller">
                                <span class="fill" data-percentage="85"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item">
                            <p>Acondicionamiento Físico</p>
                            <div id="bar3" class="barfiller">
                                <span class="fill" data-percentage="75"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  